*> {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;

}

.header-container {
    padding-top: 20px;
    background-color: rgb(37, 98, 220);

}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {

    width: 15%;
    background-color: rgb(37, 98, 220);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;


}

.header-item:nth-child(2) {
    flex-basis: 40%;
}


.login {
    display: flex;
    justify-content: flex-end;

}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}


.jumbo {
    min-height: 520px;
    background-image: url(../img/jumbo.png);
    background-size: cover;

}

.banner {
    min-height: 230px;
    max-width: 50%;
    text-align: center;

}

.titolo {
    font-size: 3rem;
    margin: 0;
}

.white-section {
    min-height: 700px;
    background-color: white;
    display: flex;
    gap: 100px;
}

.major-section {
    max-height: 300px;
    width: 40%;
    /* background-color: rgb(15, 74, 200); */
}

.minor-section {
    min-height: 300px;
    width: 25%;
    /* background-color: pink; */

}

.grey-section {
    min-height: 700px;
    background-color: rgb(243, 239, 239);
    display: flex;
    gap: 100px;
}

.big-section {
    min-height: 1400px;
    background-color: rgb(243, 239, 239);
}

.big-banner {
    min-height: 1000px;
    max-width: 70%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;




}

.black-section {
    min-height: 450px;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;

}

.macro-section {
    min-height: 400px;
    min-width: 10%;
    max-width: 22%;
    /* background-color: coral; */
    border-bottom: 2px solid rgb(37, 98, 220);
}

.micro-section {
    min-height: 400px;
    min-width: 15%;
    border-bottom: 2px solid rgb(37, 98, 220);

}

.footer-container {
    max-height: 70px;
    background-color: black;
}

.footer-item {

    width: 80%;
    background-color: black;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.button {

    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.button-black-font {
    color: black;
    background-color: white;
}

.button-white-font {
    color: white;
    background-color: black;
}

.button-blue {
    color: white;
    background-color: rgb(37, 98, 220);

}

.banner-button-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.22rem;


}

.text-white-font {
    color: white;
}

.text-banner {
    font-size: 1.22rem;
    line-height: 1.75rem;
    padding-top: 20px;

}

.text-center {
    text-align: center;
}

#immagine {
    scale: 1.2;
    margin-bottom: 100px;
}

.little-title {
    font-size: 1.9rem;

    font-weight: 600;

}

ul {
    list-style: none;

}

li:first-child {
    color: rgb(37, 98, 220);
}

li {
    margin: 15px;
}

#imgflag {
    scale: 0.4;
    padding-left: 48px;
}

.social {
    display: flex;
    gap: 20px;
    padding-left: 50px;
    font-size: 1.2rem;
}