*> {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;

}

.header-container {
    padding-top: 20px;
    background-color: rgb(37, 98, 220);

}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {

    width: 15%;
    background-color: rgb(37, 98, 220);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;


}

.header-item:nth-child(2) {
    flex-basis: 40%;
}


.login {
    display: flex;
    justify-content: flex-end;

}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    color: white;
    text-decoration: none;
}


.jumbo {
    min-height: 520px;
    background-image: url(../img/jumbo.png);
    background-size:cover;

}

.banner {
    min-height: 230px;
    max-width: 50%;
    text-align: center;
    
}
.titolo{
    font-size: 3rem;
    margin: 0;
}

.white-section {
    min-height: 700px;
    background-color: white;
    display: flex;
    gap: 100px;
}

.major-section {
    max-height: 300px;
    width: 40%;
    /* background-color: rgb(15, 74, 200); */
}

.minor-section {
    min-height: 300px;
    width: 25%;
    /* background-color: pink; */
    
}

.grey-section {
    min-height: 700px;
    background-color: rgb(243, 239, 239);
    display: flex;
    gap: 100px;
    }

.big-section {
    min-height: 800px;
    background-color: rgb(213, 211, 211);
}

.big-banner {
    min-height: 700px;
    min-width: 70%;
    background-color: green;
}

.black-section {
    min-height: 400px;
    background-color: black;
}

.macro-section {
    min-height: 350px;
    min-width: 22%;
    background-color: coral;
}

.micro-section {
    min-height: 350px;
    min-width: 12%;
    background-color: turquoise;
    border: 1px solid black;
}

.footer-container {
    height: 100px;
    background-color: black;
    border-top: 1px solid white;

}

.footer-item {
    height: 50%;
    width: 70%;
    background-color: teal;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.button {
    
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.button-black-font{
   color: black; 
   background-color: white;
}

.button-white-font{
    color: white;
    background-color: black;
}
.banner-button-flex{
    display: flex;
    justify-content: center ;
    gap: 20px;
    font-size: 1.22rem;
    

}

.text-white-font{
    color: white;
}

.text-banner{
    font-size: 1.22rem;
    line-height: 1.75rem;
    padding-top: 20px;

}